<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel的导入导出</title>
    <style>
        a {
            color: #000;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <form method="post" action="/toImport" enctype="multipart/form-data">
        导入文件：<input type="file" name="file"><br>
        <input type="submit" value="确定">
    </form>
    <br>
    <button><a href="/toExport">导出表格1</a></button>
    <button><a href="/download">导出表格2</a></button>
</body>
</html>